# SvelteKit Public Variables untuk Supabase Client (Digunakan khusus untuk fitur WebSocket / Real-time di frontend)
PUBLIC_SUPABASE_URL=""
PUBLIC_SUPABASE_ANON_KEY=""

# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL=""

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=""

CRON_SECRET="my_super_secret_cron_token"