@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --color-primary: var(--color-amber-400);
  --color-secondary: var(--color-green-600);
  --color-accent: var(--color-orange-500);
  --color-background: var(--color-stone-50);
}

